

.serviceContainer {

    height: 60vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
    display: flex;
     justify-content: center;
     border-bottom: 1px solid #000;
    display: flex;
  
    align-items: center;
    
  }
  
  .service {
    text-align: center;
    padding: 20px;
    width: 20%; /* Adjust the width as needed */
    background-color: #4f9cb6;
  

    border-radius: 5px;
    transition: transform 0.2s;
    color: rgb(0, 0, 0);
    
  }
  .service >h2{
    font-size: 25px; 
  
    font-weight: bold;
    font-family: monospace;
    color: cornsilk;

  }
  .service >p{
    font-size: 20px; 
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   

  }
  
  .service:hover {
    transform: scale(1.05);
  }
  
.services{
    height: 10vh;
    width: 100%;
    
    margin-top: 50px;

    display: grid;
    place-items: center;
    text-align: center;
  
  
}

.services>h5{
    font-size: 15px; 
    line-height: 30px ;
    font-weight: lighter;
    font-family: monospace;
 
}
.services>h1{
    font-size: 30px; 
    line-height: 30px ;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

}
.services>h1:hover,h5:hover{
    color: #4f9cb6;

}