#skills {
    height: 50vh;
    width: 100%;
    
    display: flexbox;
    
   margin-top: 100px;
   border-bottom: 1px solid #000;
}
  
  #skills>.head {
    height: 10vh;
    width: 100%;
    
   

    display: grid;
    place-items: center;
    text-align: center;
  
    
  }
  .dropdown{
    display: flex;
  }
   .frontend,.backend {
    height: 50vh;
    width:  50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    margin-top: 60px;
   
    
  }
  

.frontend>button{
  padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    color: #dddddd;
    background-color: #252525;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    cursor: pointer;
     margin-top: 10px;
    transition: background-color 0.5s ease;
    
  }
  
  .frontend button:hover {
    background-color: #c0c0c0;
    color: #252525;
    
    
  }
  .frontend>ul{
    
   display: block;
    list-style-type: none;
    opacity: 1;
  padding: 0;
  margin: 0;
  }
  
  
  .frontend>ul>li {
    text-decoration: none;
    font-family: monospace;
    
    font-size: 25px;
    margin-top: 10px;
    height: 100%;
    width:30%;
    background-color: #f5d3a1;
    border-radius: 10px 10px;
    transition: transform 0.3s ease;
    
  }
  .frontend>ul>li:hover{
    transform: scale(1.1);
    
  }
 .frontend>h2 {
    
    background-color: #a71059;
  }
  
.frontend:active>ul
   {
   
    display: block; 
    
  }
  .head>h5{
    font-size: 15px; 
    line-height: 30px ;
    font-weight: lighter;
    font-family: monospace;
    margin-top: 10px;
 
}
.head>h1{
    font-size: 30px; 
    line-height: 30px ;
    font-weight: bolder;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;

}
.head>h1:hover,h5:hover{
    color: #f5d3a1;

}
.icon{
  margin-left: 30px;
  
}